<div class="container jumbotron">
	<div class="row">
		<div class="col-md-12 col-md-offset-4">
      <p>Hola, gracias por registrarte!</p>
      <p>Esperamos verte pronto.</p>
			<p><%= [*5..30].sample %></p>
      <p>Hasta Luego!</p>
		</div>
	</div>
</div>
