/* Color Pallete */

.dark-primary-color    { background-color: #512DA8 !important; }
.default-primary-color { background-color: #673AB7 !important; }
.light-primary-color   { background-color: #D1C4E9 !important; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background-color: #00BCD4 !important; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.custom-nav {
	margin-bottom: 0px !important;
}

.header-section {
	margin-bottom: 20px;
	position: relative;
}

.hello {
	position: absolute;
	top: 40%;
	left: 25%;
	right: 25%;
	font-size: 30px;
	text-align: center;
}
