<% content_for :title do %>About<% end %>
<section>
	<div class="container jumbotron">
		<div class="row">
			<div class="col-md-12">
				<h2>Acerca del GDG Managua</h2>
				<p>GDG Managua somos un grupo de desarrolladores interesados en las tecnologías de Google. Nos reunimos con el fin de compartir conocimiento, experiencias y aprender de todos.</p>

				<p>Nuestras reuniones son quincenales los viernes, la invitación para asistir al grupo está abierta para todos los interesados en el tema :-)</p>

				<p>Disclaimer: GDG Managua is an independent group; our activities and the opinions expressed on this +Page should in no way be linked to Google, the corporation.</p>
			</div>
		</div>
	</div>
</section>