@font-face {
  font-family: "Material-Design-Icons";
  src: url("../fonts/Material-Design-Icons.eot");
  /*src: url("/app/assets/fonts/Material-Design-Icons.eot?#iefix-g7cqhn");*/
  font-weight: normal;
  font-style: normal;
}

